*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estiliza o corpo da página */
body {
    text-align: center; /* Centraliza tudo */
    font-family: 'Orbitron', sans-serif;
    background-image: url(https://i.gifer.com/origin/46/462c6f5f67c13830cd9fcdbfc7b55ded.gif);
    justify-content:center;
    align-content:center;
    align-items: center;
    padding: 30px;
    margin: 0;
  }

  /* Título principal */
  h1 {
    color: #ffffff;
    font-size: 30px;
    padding: 100px;
  }
  h2{
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
  }
  
  /* Container que posiciona os cards lado a lado */
  .card-container {
    display: flex;
    flex-wrap: wrap;           /* Permite quebrar linha em telas pequenas */
    justify-content: center;   /* Centraliza os cards */
    gap: 40px;                 /* Espaço entre os cards */
  }
  
  /* Estilo base para cada card */
  .card {
    background-color: rgb(255, 255, 255);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRxq8un46GIG5g0ox4K6Fa_dKio9kuRPlkSqZ_Dkt6gzCVkSrsbgi285EWsDErVZkwRQ&usqp=CAU);
    border-radius: 15px;         /* Bordas arredondadas */
    width: 250px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animações suaves */
  }
  
  /* Efeito ao passar o mouse sobre o card */
  .card:hover {
    transform: translateY(-10px); /* Move o card para cima */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
  }
  
  /* Card de Soft Skills: azul */
  .card.soft {
    border-top: 6px solid #2200ff; /* roxo */
    height: 180px;
    width: 300px;
  }
  .card.soft:hover {
    border: 5px solid black;
  }
  
  /* Card de Hard Skills: roxo */
  .card.hard {
    border-top: 6px solid #cdd1cd; /* amarelo */
    height: 180px;
    width: 300px;
  }
  .card.hard:hover {
    border: 5px solid black;
  }
  
  /* Título dentro do card */
  .card h2 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  /* Estilização dos botões */
  button {
    background: linear-gradient(to right, #3851c0, #0011f5); /* Gradiente azul-roxo */
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
   
  }
  
  /* Efeito ao passar o mouse no botão */
  button:hover {
    background: linear-gradient(to right, #fffefe, #25b0b4);
  }
  
  /* Estilo das áreas de pergunta e resposta */
  #pergunta, #resposta {
    margin-top: 40px;
    font-size: 1.2em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
